/* Style for the containing header div. */
.App-Header {
  text-align: center;
  background-color: white;
  border-bottom: 5px solid #2fc477;
  margin: 0px;
  padding: 10px;
  /* height: 50px; */
  font-family: avenir-black;
}

/* Style for the title in the header */
.App-Title {
  color: #2fc477;
  font-size: 32px;
}

/* Style for the link strip in the header. */
.App-Header-Links {
  font-family: avenir-medium;
  color: #293B59;
  text-align: center;
  font-size: 14px;
  list-style-type: none;
}

.App-Header-Links li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.App-Header-Links li:not(:last-child) { 
  border-right: 1px solid #e3e3e3;
}

.test {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

/* Style for the footer. */
.footer {
  background-color: white;
  font-family: avenir-medium;
  padding: 15px;
  color: #293B59;
  border-top: 3px solid #e6e6e6;
  font-size: 12px;
  letter-spacing: 1px;
  /* flex-shrink: 0; */
  flex: 0 0 50px;
  margin-top: auto;
  /* position: static; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

/* Styles for the footer links. */
.footer a {
  color: #2fc477;
}
.footer a:visited {
  color: #2fc477;
}

