/* Styles for the message that shows up on the homepage */
.homepage-message {
    font-family: avenir-medium;
    margin-left: 1rem;
    text-align: center;
    color: #293B59;
}

.homepage-message h2 {
    margin-top: 30px;
    font-size: 30px;
}

.homepage-message p {
    font-size: 16px;
}

/* Styles for the links on the homepage */
a {
    color: #2fc477;
}

a:visited {
    color: #2fc477;
}