@media all and (min-width: 480px) {
    /* Styles for the login component */
    .Login {
        font-family: avenir-black;
        display: flex;
        color: #293B59;
    }

    /* Style for the Login input fields */
    .Login form {
        color: #293B59;
        margin: 0 auto;
        max-width: 400px;
        font-family: avenir-black;
    }

    .form-input {
        font-family: avenir-medium;
        width: 400px;
    }

    .no-account {
        font-family: avenir-medium;
    }

    .login-parent {
        text-align: center;
    }

    .login-container {
        /* width: 400px;       */
        display: inline-block;
    }

    .login-container h2 {
        font-family: avenir-black;
        color: #2fc477;
        font-size: 30px;
        text-align: left;
        padding-top: 30px;
    }


}

/* Make sure the alerts on the login page show up left-aligned */
.login-alert {
    text-align: left;
}