/* h3#portfolio-header {
    font-family: avenir-black;
    font-size: 30px;
    color: #2fc477;
} */

.portfolio-container h1 {
    font-family: avenir-black;
    font-size: 25px;
}

.portfolio-container {
    padding-left: 50px;
    font-family: avenir-medium;
    display: inline;
    padding-bottom: 15px;
} 

.portfolio-container:after {
    content: "";
    display: table;
    clear: both;
}

.column-big {
    float:left;
    min-width: 60%;
    width: 60%;
}

.column-big h2 {
    font-size: 18px;
    min-height: 200px;
}

.column-small {
    float:left;
    padding-left: 30px;
    width: 40%;
    min-height: 200px;
    border-left: 1px solid lightgray;
    padding-bottom: 30px;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.green {
    color: green
}

/* Purchase Form Styling --------------------------------------- */
/* Styling for the entire form */
form.purchase-form {
    width: 350px;
}

/* Styling for the form title */
form .purchase-form-titles {
    font-family: avenir-black;
}

form .purchase-form-field {
    width: 350px;
    font-family: avenir-light;
}

p.help {
    margin-top: 5px;
    font-size: 13px;
    color: gray;
    font-family: helvetica;
}

/* Alert Message Styling --------------------------------------- */
/* Alert on the Portfolio page */
.alert-container { 
    width: 350px;
    font-family: avenir-medium;
}

/* Alert on Login and Registration pages */
.flexible-container {
    font-family: avenir-medium;
    text-align: left;
}


