h3#portfolio-header {
    font-family: avenir-black;
    font-size: 30px;
    color: #2fc477;
}

.portfolio-container {
    padding-left: 50px;
    font-family: avenir-medium;
    display: inline;
} 

.portfolio-container:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float:left;
    width: 50%;
}

/* Purchase Form Styling --------------------------------------- */
/* Styling for the entire form */
form.purchase-form {
    width: 350px;
}

/* Styling for the form title */
form .purchase-form-titles {
    font-family: avenir-black;
}

form .purchase-form-field {
    width: 350px;
    font-family: avenir-light;
}

p.help {
    margin-top: 5px;
    font-size: 13px;
    color: gray;
    font-family: helvetica;
}

/* Alert Message Styling --------------------------------------- */
/* Alert on the Portfolio page */
.alert-container { 
    width: 350px;
    font-family: avenir-medium;
}

/* Alert on Login and Registration pages */
.flexible-container {
    font-family: avenir-medium;
    text-align: left;
}


